/* Write your global styles here, in PostCSS syntax */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--text-size: '100%';
}

html {
	font-size: var(--text-size);
}

img {
	display: block;
	max-width: 100%;
	height: auto;
	object-fit: cover;
}

@font-face {
	font-family: Preeti;
	src: url('/font/preeti.TTF');
}

#preeti_text {
	font-family: 'Preeti';
}


textarea {
	font-size: 1.5em;
	resize: both;
}

